body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ant-tree-node-content-wrapper {
  display: flex !important;
}

.menu{
	padding: 15px;
  width: 100px;
	height:50px;
  left:100px;
  top:10px;
  z-index: 111;
}

.menuItem{
	margin: 3px 0px;
  border:none;
	color:#282828;
}
.menuItem button {
  width:50px;
}
